<html>
  <head>
    <title></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet" media="screen">
  </head>
  <body>

    <div class="container">

      <div id='notification_area'>
        <% if @win %>
          <div class="alert alert-success"><%=@win%></div>
        <% elsif @lose %>
          <div class="alert alert-error"><%=@lose%></div>
        <% elsif @draw %>
          <div class="alert alert-warning"><%=@draw%></div>
        <% else %>
          <div class="alert alert-info">
            <h2 align='center'>Welcome to Blackjack, <%= session[:username] %>!</h2>
          </div>
        <% end %>
        <% if @play_again %>
          <div class="alert alert-info">
            <h3>
              <form id="play_again" action="/bet">
                <input type="submit" value=" Play Again" class="btn btn-primary btn-large btn-block">
              </form>
            </h3>
          </div>
        <% end %>
      </div>

      <div id='betting_area' class="row-fluid">
        <div class="span2 alert alert-info">
          <form action='/get_bet' method='post'>
            <h4>Cash: $<%= session[:cash] %></h4>
            <br>
            <h4>Bet: $<%= session[:bet] %></h4>
          </form>
        </div>

        <div id='dealer_area' class="span10 alert alert-success">
          <h4>Dealer's cards</h4>
          <div class='cards_area'>
            <% if @show_dealer_hole_card == false %>
              <%= draw_cover() %>
              <%= draw_card(session[:dealer_cards][1]) %>
            <% else %>
              <% session[:dealer_cards].each do |card| %>
                <%= draw_card(card) %>
              <% end %>
            <% end %>
          </div>
          <% if @show_dealer_controls == true %>
            <% if count(session[:dealer_cards]) < DEALER_HIT_BELOW %>
              <h3>The dealer has <%= count(session[:dealer_cards]) %> and will hit.</h3>
              <form class="float_button" id="dealer_hit" action="/dealer_hit" method="POST">
                <input type="submit" value="Deal the next card" class="btn btn-primary">
              </form>
            <% elsif count(session[:dealer_cards]) > BLACKJACK %>
              <h3>The dealer has busted!</h3>
            <% else %>
              <h4>The dealer has <%= count(session[:dealer_cards]) %>.</h4>
            <% end %>
          <% end %>
        </div>
      </div>

      <div class="row-fluid">
        <div id='player_area' class="span10 offset2 alert alert-success">
          <h4><%= session[:username] %>'s cards</h4>
          <div class='cards_area'>
            <% session[:player_cards].each do |card| %>
              <%= draw_card(card) %>
            <% end %>
          </div>
          <% if @show_player_controls == true && count(session[:player_cards]) < BLACKJACK %>
            <h3><%= session[:username] %> has <%= count(session[:player_cards]) %>. Hit or stay?</h3>
            <form class="float_button" id="hit" action="/hit" method="POST">
              <input type="submit" value=" Hit " class="btn btn-primary btn-large">
            </form>
            <form class="float_button" id="stay" action="/stay" method="POST">
              <input type="submit" value="Stay" class="btn btn-inverse btn-large">
            </form>
          <% else %>
            <h4><%= session[:username] %> has <%= count(session[:player_cards]) %>.</h4>
          <% end %>

        </div>
      </div>

    </div>

  </body>
</html>